@media (max-width: 1170px) {
  .blog {
    max-width: calc(50% - 30px);
    text-align: center;
  }
}
@media (max-width: 1080px) {
  .w-item {
    max-width: calc(50% - 26px);
  }
}
@media (max-width: 992px) {
  .service-row {
    justify-content: center;
  }
  .s-item {
    width: calc(50% - 16px);
  }
}
@media (max-width: 780px) {
  .banar-content h1 {
    font-size: 54px;
  }
  .banar-content a {
    font-size: 14px;
    padding: 15px 35px;
  }
  .about-row {
    text-align: center;
  }
  .about-left {
    width: 100%;
  }
  .about-right {
    width: 100%;
  }
  .about-right p {
    margin: 0 auto;
  }
  .blog {
    max-width: 100%;
  }
  .blog img {
    width: 50%;
  }
}
@media (max-width: 840px) {
  .w-item {
    max-width: calc(100% - 26px);
  }
  .comment-row {
    gap: 30px;
  }
  #end-section {
    display: none;
  }
}
@media (max-width: 690px) {
  .s-item {
    width: calc(100% - 100px);
  }
}
@media (max-width: 570px) {
  .nav-manu ul {
    display: none;
  }
  .banar-content h1 {
    font-size: 40px;
  }
  .banar-content a {
    font-size: 13px;
    padding: 12px 26px;
  }
  .contect {
    margin-top: 40px;
  }
}
@media (max-width: 470px) {
  .s-item {
    width: 100%;
  }
  .s-item {
    width: 100%;
  }
  .f-right {
    margin-top: 30px;
  }
}
@media (max-width: 370px) {
  .banar-content h1 {
    font-size: 30px;
  }
  .banar-content a {
    font-size: 11px;
    padding: 8px 20px;
  }
}
